{
  "spotHost": "192.168.50.3",
  "formantAgentTarget": "localhost:5501",
  "graphnavStoreDir": "data/graphnav",
  "waypointTextStream": "spot.waypoints",
  "mapsTextStream": "spot.maps",
  "localizationImageStreamName": "spot.localization.image",
  "localizationImageFps": 15,
  "localizationImagePollHz": 2,
  "graphnavCommandTimeoutSec": 60
}
