{
  "spotHost": "192.168.50.3",
  "formantAgentTarget": "localhost:5501",
  "graphnavStoreDir": "data/graphnav",
  "teleopIdleTimeoutMs": 1000,
  "waypointTextStream": "spot.waypoints",
  "mapsTextStream": "spot.maps",
  "surroundCameraFps": 15,
  "surroundCameraPollHz": 2,
  "rightCameraRotate180": true,
  "localizationImageStreamName": "spot.localization.image",
  "localizationImageFps": 15,
  "localizationImagePollHz": 2,
  "graphnavGlobalLocalizationStream": "spot.localization.graphnav.global",
  "graphnavMapStream": "spot.map.graphnav",
  "graphnavMetadataStream": "spot.graphnav.metadata",
  "graphnavMapImageStreamName": "spot.map.graphnav.image",
  "graphnavMapImageFps": 15,
  "graphnavMapImagePollHz": 2,
  "graphnavCommandTimeoutSec": 60
}
